<mat-toolbar color="primary">
<mat-toolbar-row>
   
  <a routerLink="/home">Bienvenido {{usuario}}</a>
    <a routerLink="/registry">Ingresar Artista</a>
    <span class="example-spacer">
    </span>  
  </mat-toolbar-row>
</mat-toolbar>