<br>
<div align="center">
<mat-card class="registry-card">
    <mat-card-title>
      Crear Artista
    </mat-card-title>
    <table class="example-full-width" cellspacing-left="20">
      <tr>
        <td>
          <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" [(ngModel)]="miArtista.nombre">
                    </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Descripcion" [(ngModel)]="miArtista.descripcion">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td>
                  <button mat-button color="primary" (click)="insertarArtista()">Insertar Usuario</button>
            </td>
              </tr>
            </table> 
        </td>
        <td>
       <app-upload></app-upload>
        </td> 
      </tr>
    </table> 
</mat-card>
</div>  
