<div align="center">
<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{selectedUser.nombre}}</mat-card-title>
    <mat-card-subtitle>{{selectedUser.descripcion}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://lastfm-img2.akamaized.net/i/u/270x205/9fd718d4c80e4ac89107c6c0bb908440.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
<br>
<app-list-commtary [idArtista]="selectedUser.id"></app-list-commtary>
<br>
<app-commentary [idArtista]="selectedUser.id"></app-commentary>

  </mat-card-content>
</mat-card>
</div>