.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/1598/1598751.svg'); width: 50px;
    background-size: cover;
  }
  .example-icon {
    padding: 0 14px;
  }