<div align="center">

    <p>
    <mat-form-field class="full-width">
    <textarea matInput placeholder="Comentario"
   [(ngModel)]="comentario.descripcion">
    </textarea>
    </mat-form-field>
    <br>
    <button mat-button color="primary" (click)="addComentario()">Añadir Comentario</button>
    </p>
   </div>
