<div class="container">
  <div class="row">
      <div class="col s8 offset-2">
        <div class="card-panel teal lighten-2">
          
          <mat-card-title>
              Cargar Imagen Usuario
            </mat-card-title>
        </div>
        <form #imageForm=ngForm (ngSubmit)="onSubmit(Caption,Image)">
          <img [src]="imageUrl"  style="width: 200px;height: 200px; margin: 10px;">
          <input type="file" style="margin: 10px;" (change)="handleFileInput($event.target.files)" #Image accept="image/*">
          <!--<button type="submit" class="btn-large btn-submit" [disabled]="Caption.value=='' || !imageForm.valid"></button>-->
        </form>
      </div>
  </div>
</div>