<div align="center">
    <mat-card class="example-card" *ngIf="selectedComentary" >
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Comentario:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h6>{{selectedComentary.idComentario}}</h6>
            <h5>{{selectedComentary.descripcion}}</h5>
        </mat-card-content>
    </mat-card>
  </div>
