.example-header-image {
    background-image: url('https://imageog.flaticon.com/icons/png/512/74/74229.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF'); width: 90px;
    background-size: cover;
  }