
<div align="center" > 
    <mat-card class="login-card">
        <mat-card-header>
            
        </mat-card-header>
        <mat-card-content>
            <img align="center" width="290" height="150" src="http://4.bp.blogspot.com/-pdyuglOM7AI/UBAvViauwXI/AAAAAAAAADQ/Tg7kt2dm6FQ/s1600/electronica.jpg">
            <br><br><br>
          <h3 style="margin:10px">Usuario Theno</h3>
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="name" matInput placeholder="Usuario">
          </mat-form-field>
            <br>
          <mat-form-field class="example-full-width">
              <input [(ngModel)]="password" type="password" matInput placeholder="Contraseña">
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
           
          <button [disabled]="loading" mat-stroked-button color="primary" (click)="enviarInformacion()">Ingresar</button><br>
        </mat-card-actions>
        
          <div><a href="https://cpo.poligran.edu.co/Default.aspx">¿Olvidó la contraseña?</a></div>
      </mat-card>
</div>

