
<div align="center">
          <div *ngFor="let comentario of misComentarios" >
              <br>
           <app-pintar-commentarios [selectedComentary]="comentario"></app-pintar-commentarios>
       </div>
    </div>